body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* background: linear-gradient(135deg, #DDD0C8, #7c5b47); */
  overflow: auto;
  background: linear-gradient(0deg,  #DDD0C8, #4E3822);
  font-family: 'Georgia', serif;
  color: #3C2A1F;
}

#root {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

body {
  background-image: url('../assets/old_map.svg'), url('https://www.transparenttextures.com/patterns/light-paper-fibers.png');
  background-attachment: fixed, fixed;
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
  background-position: center center, center center;
}


h1, h2, h3, h4 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

.modal {
  margin:auto;
  background: #cfc3bb;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  max-width: 90%;
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  max-height: 100%;
  /* overflow: auto; */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

button.mainBut {
  margin-left:5px;
  margin-right:5px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 10px 15px;
  background-color: #323232;
  border: none;
  color: #DDD0C8;
  cursor: pointer;
  border-radius: 10px;
}

button:hover.mainBut {
  background-color: #1a1919;
}

h1, h3 {
  text-align: center;
  color:#323232;
  display: block;
}

p {
  color:#323232;
}

button.addScenario {
  margin:auto;
  margin-bottom: 40px;
}

button.powrot, button.showGames {
  display:block;
}

button.addTask {
  margin:auto;
  margin-bottom: 40px;
}

.main {
  text-align: center;
}

.tasksList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.taskItem {
  display: inline-block;
  max-width: 400px;
  min-width: 290;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  text-align: center;
  background: linear-gradient(135deg, rgba(207, 195, 187, 0.9), rgba(112, 96, 77, 0.9));
  border: 2px solid #323232;
  /* background-image: url('https://www.transparenttextures.com/patterns/light-paper-fibers.png'); */
  background-attachment: fixed;
  background-repeat: repeat;
}

.taskItem img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.taskItem h4 {
  margin: 10px 0;
  font-size: 18px;
}

.taskItem p {
  font-size: 14px;
  color:#323232;
}

.taskButtons {
  margin-top: 10px;
}

.taskButtons button {
  margin: 5px;
}
