.main {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.header {
    padding: 20px;
    margin-bottom: 20px;
}

.nav {
    margin-bottom: 20px;
}

.gamesView {
    text-align: left;
}

.gamesView ul {
    list-style-type: none;
    padding: 0;
}

.gamesView li {
    margin-bottom: 20px;
}

.loginForm label{
    display: block;
    margin-top: 2px;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 1px;
}


.gamesList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.gameItem {
    display: inline-block;
    max-width: 400px;
    min-width: 290;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    background: linear-gradient(135deg, rgba(207, 195, 187, 0.9), rgba(112, 96, 77, 0.9));
    border: 2px solid #323232;
    /* background-image: url('https://www.transparenttextures.com/patterns/light-paper-fibers.png');  */
    background-attachment: fixed;
    background-repeat: repeat;
}

.gameItem img {
    width: 100%;
    border-radius: 5px;
}

.gameItem h3 {
    margin: 10px 0;
    font-size: 18px;
}

.gameItem p {
    font-size: 14px;
    color:#323232;
}

.logNav {
    float: right;
    width: 230px;
    display: block;
    clear: both;
}