{% load i18n %}

{% block subject %}
{% blocktrans %}Resetowanie hasła {{ site_name }}{% endblocktrans %}
{% endblock subject %}


{% block html_body %}
<p>{% blocktrans %}Otrzymujesz ten email, ponieważ poprosiłeś o zmianę hasła na {{ site_name }}.{% endblocktrans %}</p>

<p>{% trans "Kliknij poniższy link, aby zresetować hasło:" %}</p>
<a href="https://{{ domain }}/{{ url|safe }}">https://{{ domain }}{{ url|safe }}</a>

<p>{% trans "To twoja nazwa użytkownika, gdybyś zapomniał:" %} <b>{{ user.get_username }}</b></p>

<p>{% trans "Pozdrawiamy i życzymy udanej rozgrywki." %}</p>

{% endblock html_body %}
