img {
    display: block;
    margin-bottom: 10px;
}

li {
    margin:auto;
    border: 2px solid #323232;
    border-radius: 10px;
    padding: 5%;
    width: 510px;
    background-color: #cfc3bb;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0%;
}

button.select, button.delete {
    margin-left:5px;
    margin-right:5px;
    padding: 10px 15px;
    background-color: #323232;
    border: none;
    color: #DDD0C8;
    cursor: pointer;
    border-radius: 10px;
}

button:hover.select, button:hover.delete {
    background-color: #1a1919;
}  