img.answer_image {
    width: 100%;
    height: auto;
    object-fit:cover;
    border: 2px solid transparent;
    border-radius: 5px;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.image-container.highlighted {
    border-color: #4caf50; /* Zielone obramowanie dla zaznaczonego */
    transform: scale(1.05); /* Powiększenie przy zaznaczeniu */
}